# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore IDE-specific files
.idea/
*.iml

# Ignore inspection and workspace settings
.idea/**
ai_ml/

.vs/
airflow.cfg
airflow.db
webserver_config.py
logs/
